.allgemeine-eigenschaften {
  /* allgemeine Containereigenschaften*/
  padding: 10pxm;
  border: 1px solid black;
  border-radius: 5px;
  color: red;
}
.colors {
  background-color: grey;
  color: black;
}
.panel {
  /* allgemeine Containereigenschaften*/
  padding: 10pxm;
  border: 1px solid black;
  border-radius: 5px;
  color: red;
  background-color: #ff6666;
  color: black;
}
.card {
  /* allgemeine Containereigenschaften*/
  padding: 10pxm;
  border: 1px solid black;
  border-radius: 5px;
  color: red;
}
.container {
  background-color: #00e600;
  background-color: #b3b3b3;
  color: black;
}
